.btn-show {
    background-color:#0D8297;
}

a.btn:link { color:#FFF; text-decoration:none;}
a.btn:visited { color: #FFF; text-decoration:none;}
a.btn:hover { color: #FFF; text-decoration:none;}
a.btn:active { color: #FFF; text-decoration:none;}